---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import Layout from "../../layouts/Layout.astro";
import ProceduralCoverImage from "../../components/ProceduralCoverImage.astro";

const posts = (await getCollection("writing")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout>
  <main class="flex-auto">
    <section>
      <h1 class="mb-6 text-4xl font-extrabold">My writing</h1>
      <ul class="grid grid-cols-2 gap-x-4 gap-y-6">
        {
          posts.map((post) => (
            <li class="group relative z-10 flex size-full flex-col first:col-span-full first:items-center">
              <div class="overflow-hidden border border-zinc-600 group-first:size-full">
                {post.data.heroImage ? (
                  <img
                    width={720}
                    height={360}
                    src={post.data.heroImage}
                    class="size-full transition-transform duration-300 ease-in-out group-first:border-b-0 group-first:group-hover:scale-105"
                    alt=""
                  />
                ) : (
                  <ProceduralCoverImage id={post.id} />
                )}
              </div>
              <div class="w-full border-zinc-600 group-first:block group-first:border group-first:border-t-0 group-first:p-3 group-first:pt-1.5 group-first:group-hover:bg-zinc-50">
                <dl>
                  <dt class="sr-only">Published on</dt>
                  <dd class="text-base leading-6 font-medium text-gray-500 group-first:text-lg dark:text-gray-400">
                    <time datetime={post.data.pubDate.toISOString()}>
                      <FormattedDate date={post.data.pubDate} />
                    </time>
                  </dd>
                </dl>
                <a href={`/posts/${post.id}/`}>
                  <span class="absolute inset-0 z-20" />
                  <h2 class="text-2xl leading-6 font-bold tracking-tight group-first:text-4xl">
                    {post.data.title}
                  </h2>
                </a>
              </div>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
