---
import { getCollection } from "astro:content";
import { Image, Picture } from "astro:assets";

import BaseLayout from "../layouts/BaseLayout.astro";

const projects = (await getCollection("projects"))
	.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.slice(0, 3);

const posts = (await getCollection("posts"))
	.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.slice(0, 3);

import typescript from "../assets/logos/ts.svg";
import cpp from "../assets/logos/cpp.svg";
import csharp from "../assets/logos/csharp.svg";
import python from "../assets/logos/python.svg";
import go from "../assets/logos/go.svg";
import coloradoSprings from "../assets/coloradoSprings.avif";
import ArticlePreview from "../components/ArticlePreview.astro";

const langs = [
	{ img: typescript, name: "TypeScript" },
	{ img: cpp, name: "C++" },
	{ img: csharp, name: "C#" },
	{ img: python, name: "Python" },
	{ img: go, name: "Go" },
];
---

<BaseLayout title="Home">
	<main class="mt-28 flex-auto">
		<div class="max-w-2xl">
			<h1 class="text-4xl font-bold tracking-tight text-gray-12 sm:text-5xl">
				Hey there.&nbsp;&#x1F44B;&#x1F3FB;
			</h1>
			<p class="mt-6 text-gray-12 text-pretty">
				I&rsquo;m a student programmer who loves music, sci-fi, and learning
				random things. I am currently studying computer science at Pikes Peak
				State College and have a passion for programming.
			</p>
		</div>
		<section
			class="grid max-w-xl mx-auto grid-cols-1 mt-24 items-baseline gap-y-8 gap-x-16 lg:gap-x-24 lg:max-w-none lg:grid-cols-2"
		>
			<div class="space-y-8">
				{
					posts.map((post) => (
						<ArticlePreview
							title={post.data.title}
							description={post.data.summary}
							publishDate={post.data.publishDate}
							link={`/posts/${post.slug}`}
						/>
					))
				}
				<hr class="mt-8" />
				<div class="space-y-8">
					<h2 class="text-2xl/8 font-semibold sm:text-xl/8">Projects</h2>
					{
						projects.map((project) => (
							<ArticlePreview
								title={project.data.name}
								description={project.data.description}
								publishDate={project.data.publishDate}
								link={`/projects/${project.slug}`}
							/>
						))
					}
				</div>
			</div>
			<div class="flex flex-col gap-y-10 h-full">
				<div class="rounded-2xl border p-6">
					<h2 class="text-sm font-semibold">Programming Languages</h2>
					<ul class="mt-6 flex gap-4 w-full justify-between">
						{
							langs.map((lang) => (
								<li
									title={lang.name}
									class="h-15 w-15 grid place-items-center flex-none rounded-full shadow-md shadow-gray-alpha-6 dark:shadow-none ring-1 ring-gray-6"
								>
									<Image
										src={lang.img}
										class="h-10.5 w-10.5"
										alt={lang.name}
										loading="eager"
										format="svg"
									/>
								</li>
							))
						}
					</ul>
				</div>
				<div class="rounded-2xl border overflow-hidden aspect-square">
					<Picture
						formats={["avif"]}
						class="aspect-square object-cover hover:scale-105 dark:hover:grayscale-0 dark:hover:brightness-100 transition ease-in-out duration-400 h-full dark:grayscale-25 dark:brightness-90"
						src={coloradoSprings}
						alt=""
					/>
				</div>
			</div>
		</section>
	</main>
</BaseLayout>
