---
import { Picture } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";

interface Props {
	title: string;
	date: Date;
	description: string;
	cover?: ImageMetadata;
	coverAlt?: string;
}

const { title, date, description, cover, coverAlt } = Astro.props;

const schema = {
	"@context": "https://schema.org",
	"@type": "BlogPosting",
	headline: title,
	datePublished: date,
	description,
	image: cover ? cover.src : null,
	url: new URL(Astro.url.pathname, Astro.site),
	author: {
		"@type": "Person",
		name: "Gravy59",
	},
};
---

<BaseLayout title={title} description={description} pubDatetime={date}>
	<script
		type="application/ld+json"
		is:inline
		set:html={JSON.stringify(schema)}
	/>
	<main class="mt-28 flex-auto">
		<article class="max-w-2xl">
			<header class="flex flex-col">
				<h1 class="mt-6 text-4xl font-bold tracking-tight sm:text-5xl">
					{title}
				</h1>
				{
					date && (
						<time
							class="order-first flex items-center text-base text-gray-dim"
							datetime={date.toISOString().slice(0, 10)}
						>
							<span class="h-4 w-0.5 rounded-full bg-gray-11" />
							<span class="ml-3">
								{Intl.DateTimeFormat("en-GB", {
									day: "numeric",
									month: "long",
									year: "numeric",
								}).format(date)}
							</span>
						</time>
					)
				}
			</header>
			<div class="mt-8 prose dark:prose-invert prose-gray">
				{
					cover && (
						<Picture
							formats={["webp", "avif"]}
							src={cover}
							alt={coverAlt ?? null}
							class="rounded-3xl bg-indigo-"
						/>
					)
				}
				<slot />
			</div>
		</article>
	</main>
</BaseLayout>
